<p id="notice"><%= notice %></p>

<div class = "container">
  <div class = "row">
    <% @sounds.each do |sound| %>
      <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class = "sound-picture" style = "background-image: url('<%= sound.imageAttachment.url %>');" onClick="handleAudioImageClick('<%= sound.name %>')">
          <h3 class = "sound-name"><%= sound.name %></h3>
          <p class = "sound-control"><%= link_to 'x', sound, method: :delete, data: { confirm: 'Are you sure you want to delete this sound?' }, :class => "destroy" %></p>
        </div>
        <p class = "sound-control"><%= link_to 'Show', sound %></p>
        <p class = "sound-control"><%= link_to 'Edit', edit_sound_path(sound) %></p>
        <audio id = "<%= sound.name %>-audio">
          <source src = "<%= sound.soundAttachment.url %>" type = "audio/mp3">
        </audio>
        <p><%= link_to "Download sound file", sound.soundAttachment.url %></p>
        <p><%= link_to "Download image file", sound.imageAttachment.url %></p>
      </div>
    <% end %>
  </div>
</div>
