<p id="notice"><%= notice %></p>

<h1>Sounds</h1>

<div class = "container">
  <div class = "row">
    <% @sounds.each do |sound| %>
      <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h3><%= sound.name %></h3>
        <div class = "sound-picture" style = "background-image: url('<%= image_url sound.picture %>');" onClick="handleAudioImageClick('<%= sound.name %>')"></div>
        <p class = "sound-control"><%= link_to 'Show', sound %></p>
        <p class = "sound-control"><%= link_to 'Edit', edit_sound_path(sound) %></p>
        <p class = "sound-control"><%= link_to 'Destroy', sound, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <audio id = "<%= sound.name %>-audio">
          <source src = "<%= asset_path sound.file %>" type = "audio/mp3">
        </audio>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Sound', new_sound_path %>
