
<p id="notice"><%= notice %></p>

<% @sounds.each do |sound| %>
  <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 sound-card-container">
    <div class = "sound-card">
      <div class = "sound-picture" id = "sound-picture-<%= sound.id %>" style = "background-image: url('<%= sound.imageAttachment.url %>');" onClick="handleAudioImageClick('<%= sound.id %>')"></div>
      <div class = "sound-info">
        <div>
          <h3><%= sound.name %></h3>
          <i class="fa fa-angle-up sound-angle-up" id = "up-icon-<%= sound.id %>" aria-hidden="true" onClick="handleUpClick('<%= sound.id %>')"></i>
        </div>
        <audio loop id = "<%= sound.id %>-audio">
          <source src = "<%= sound.soundAttachment.url %>" type = "audio/mp3">
        </audio>
        <div>
          <i class="fa fa-play" id = "sound-play-pause-<%= sound.id %>" onClick="handleAudioImageClick('<%= sound.id %>')" aria-hidden="true"></i>
          <div class = "sound-volume-controls">
            <i class="fa fa-volume-up" id = "volume-icon-<%= sound.id %>" aria-hidden="true"></i>
            <input type="range" id="sound-volume-<%= sound.id %>" class = "sound-volume" min="0" value="100" max="100" step="1" oninput="handleVolume('<%= sound.id %>')" onchange="handleVolume('<%= sound.id %>')">
          </div>
        </div>
      </div>
      <div class = "sound-card-reveal" id = "sound-card-reveal-<%= sound.id %>">
        <div class = "heading-content">
          <i class="fa fa-volume-up" aria-hidden="true"></i>
          <h3><%= sound.name %></h3>
          <i class="fa fa-angle-down sound-reveal-close" aria-hidden="true" onClick="handleUpClick('<%= sound.id %>')"></i>
        </div>
        <%= link_to 'Edit', edit_sound_path(sound), :class => "button" %>
        <%= link_to 'Delete', sound, method: :delete, data: { confirm: 'Are you sure you want to delete this sound?' }, :class => "button" %>
        <%= link_to "Image", sound.imageAttachment.url, :class => "button", :target => "_blank" %>
        <%= link_to "Sound", sound.soundAttachment.url, :class => "button", :target => "_blank" %>
      </div>
    </div>
  </div>
<% end %>
